h2 {
  color: #303030;
}

.chat-message-container {
  height: 100vh;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.chat-message {
  width: 50vw;
  height: 50vw;
  border: 1px solid #8f8f8f;
  padding: 40px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 16px;
}

.partner-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  flex-direction: row;
  justify-content: space-evenly;
}

.partner-container p {
  flex-grow: 4;
  text-align: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
