h2 {
  color: #303030;
}

.chat-message-container {
  height: 100vh;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.chat-message {
  width: 50vw;
  height: 50vw;
  border: 1px solid #8f8f8f;
  padding: 40px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 16px;
}

.partner-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  flex-direction: row;
  justify-content: space-evenly;
}

.partner-container p {
  flex-grow: 4;
  text-align: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.input-message-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-message-container input {
  width: 85%;
  padding: 8px;
  margin-left: 12px;
  border-radius: 16px;
}

.message-container {
  width: 100%;
  height: 80%;
  border: 1px solid #e1e1e1;
  margin: 12px 0px;
  display: flex;
  padding: 12px 0px;
  overflow-y: auto;
  border-radius: 8px;
  flex-direction: column;
}

.partner-message,
.current-user-message {
  margin: 4px 12px;
  display: flex;
  text-align: left;
}

.partner-message {
  text-align: right;
  justify-content: flex-end;
}

.partner-message p,
.current-user-message p {
  margin: 0px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  background-color: #e1e1e1;
}

.partner-message p {
  background-color: #3693f7;
}
