form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-field {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

form label {
  margin: 0;
  text-align: start;
  padding-bottom: 4px;
}

form input {
  padding: 10px;
  margin-bottom: 18px;
}

