h2 {
  color: #303030;
}

.chat-list-container {
  height: 100vh;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.chat-list {
  width: 50vw;
  border: 1px solid #8f8f8f;
  padding: 40px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 16px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(200, 200, 200, 0.8);
}

.create-chat-button {
  margin-bottom: 12px;
}
